@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
    font-family: 'Poppins', sans-serif;
    color: white;
}

*>*::selection{
  @apply bg-blue-600 text-black
}

html {
  scroll-behavior: smooth;
  background-color: black;
}

section {
  z-index : 99;
}

.circleLine {
  @apply inline-flex flex-col justify-center items-center
}

.circle {
  @apply border-4 border-green-600 min-h-8 min-w-8 rounded-full max-sm:min-h-6 max-sm:min-w-6
}

.line {
  @apply border-2 h-full border-green-600
}

.circleLine-child {
  @apply flex justify-start items-center
}


.circle-child {
  @apply  bg-blue-600 min-h-5 min-w-5 rounded-full max-sm:min-h-3 max-sm:min-w-3
}

/* .line-child {
  @apply max-sm:h-full max-sm:border-blue-600 max-sm:border-2
} */

.roadmap-textbox-child {
@apply flex flex-row  gap-4 max-sm:gap-0 justify-center items-center 
}

.roadmap-child {
  @apply inline-flex flex-nowrap
}

.roadmap-textbox-child-first {
  @apply pr-12 py-4 max-sm:py-2 max-sm:px-4  grid md:grid-cols-1 sm:grid-cols-2 lg:grid-cols-2 gap-4 px-6 max-sm:grid-cols-1
}



.roadmap {
  @apply inline-flex gap-4 max-sm:gap-1
}

.roadmap-textbox {
@apply flex flex-col items-center justify-center pr-12 py-4 max-sm:py-2 max-sm:px-4 max-sm:items-start
}

.roadmap-textbox p {
  @apply text-xl max-sm:text-base
}

.roadmap-textbox-title {
  @apply flex pl-4 gap-0
}

.roadmap-textbox-title h2 {
  @apply text-2xl font-semibold max-sm:text-lg
}

.index-htwo h2 {
  @apply max-sm:text-[0.95rem] max-sm:font-semibold max-sm:text-left
}

.index-p {
  @apply flex flex-row gap-4
}

.index-p .role {
  @apply font-semibold text-emerald-500
}

.index-p p {
  @apply max-sm:text-sm
}