@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* > *{
    font-family: 'Poppins', sans-serif;
    color: white;
}

*>*::selection{
  @apply bg-blue-600 text-black
}

html {
  scroll-behavior: smooth;
  background-color: black;
}

section {
  z-index : 99;
}

